@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}

.container{border: 2px solid #000; background-color: green;}
.container .item{border: 2px solid #000; background-color: yellow;}


.container {display: flex;}

.item {width: 100px;flex-grow: 1;}

.item:nth-child(1){flex-grow: 1;}
.item:nth-child(2){flex-grow: 2;}
.item:nth-child(3){flex-grow: 1;}
/* 부모가 쓰지 않은 공간을 4로 나눈 것 */

/* flex-grow, 늘어나지 말라고 태어날 때 0으로 태어남 */