@charset "UTF-8";

/* **** 구글 폰트 연결 **** */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');


/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* **** layout 영역 **** */

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#wrap {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-main.jpg) no-repeat;
    background-size: cover;
}

/* **** top_menu 영역 **** */

.top_menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}

.top_menu .tm_logo {
    width: 5%;
    margin-left: 2%;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
}

.top_menu .tm_list {}

.top_menu .tm_list ul {
    display: flex;
}

.top_menu .tm_list ul li {
    padding: 0 2vh;
    font-weight: 600;
    line-height: 10vh;
    font-size: 2.5vh;
    letter-spacing: -0.05vh;
}

.top_menu .tm_list ul li a {
    display: block;
    transition: 0.3s;
    color: #fff;
}

.top_menu .tm_list ul li a:hover {
    color: orangered;
}

.top_menu .tm_icon {
    width: 5%;
    margin-right: 2%;
    line-height: 10vh;
    text-align: center;
    box-sizing: border-box;
}

.top_menu .tm_icon i{
    font-size: 3vh;
}

/* **** main_cont 영역 **** */

.main_cont {
    height: 90%;
}

.main_cont .s_cont {
    height: 90vh;
    display: flex;
}

.main_cont .s_cont .left_cont {
    width: 60%;
    /* background-color: violet; */
    padding: 5% 1% 5% 7%;
    box-sizing: border-box;
    position: relative;
}

.main_cont .s_cont .right_cont {
    width: 40%;
    /* background-color: rgb(218, 238, 130);  */
    padding: 13% 3% 10%;
    box-sizing: border-box;
}

/* **** main_cont_left 영역 **** */

.main_cont .s_cont .left_cont .lc_txt {}

.main_cont .s_cont .left_cont .lc_txt p {
    font-weight: bold;
}

.main_cont .s_cont .left_cont .lc_txt.lc_txt1 p {
    font-size: 25vh;
    transform: translateX(-50%);
    opacity: 0;
    letter-spacing: 2vh;
}

.main_cont .s_cont .left_cont .lc_txt.lc_txt2 p {
    font-size: 3vh;
    transform: translateX(-50%);
    opacity: 0;
    letter-spacing: 2vh;
    margin-top: -4vh;
    text-align: right;
}

.main_cont .s_cont .left_cont .lc_img {
    width: 60vw;
    height: 90vh;
    position: absolute;
    top: calc(50% - 38vh);
    left: calc(50% - 25vw);
    transform: translateX(70%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.main_cont .s_cont .left_cont .lc_img img {
    width: 100%;
}

    /* ** main_cont_left(active) 영역 ** */

.main_cont .s_cont.slick-active .left_cont .lc_txt.lc_txt1 p {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

.main_cont .s_cont.slick-active .left_cont .lc_txt.lc_txt2 p {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

.main_cont .s_cont.slick-active .left_cont .lc_img {
    transform: translateX(0%);
    opacity: 1;
    transition: 0.8s;
    transition-delay: 0.1s;
    z-index: 30;
}

/* **** main_cont_right 영역 **** */

.main_cont .s_cont .right_cont {}

.main_cont .s_cont .right_cont .rc_title {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-30%);
}

.main_cont .s_cont .right_cont .rc_title .rct_section1{
    display: flex;
    font-weight: bold;
}

.main_cont .s_cont .right_cont .rc_title .rct_section1 p {
    font-size: 10vh;
    font-style: italic;
}

.main_cont .s_cont .right_cont .rc_title .rct_section1 .rc_star {
    padding-top: 6vh;
    padding-left: 1vh;
    box-sizing: border-box;
}

.main_cont .s_cont .right_cont .rc_title .rct_section1 .rc_star i {
    display: inline-block;
    color: yellow;
    font-size: 3vh;
    padding-left: 0.8vh;
    opacity: 0;
    transform: translateX(200%);

}

.main_cont .s_cont .right_cont .rc_title .rct_section2 p{
    font-weight: bold;
    font-size: 3vh;
    margin-top: -2vh;
}

.main_cont .s_cont .right_cont .rc_desc{
    padding-top: 5vh;
    opacity: 0;
    transform: translate(100%);
}

.main_cont .s_cont .right_cont .rc_desc p{
    font-size: 2.5vh;
    font-weight: 300;
    letter-spacing: -0.2vh;
    padding-bottom: 2vh;
}

.main_cont .s_cont .right_cont .rc_desc ul{}

.main_cont .s_cont .right_cont .rc_desc ul li{
    padding-bottom: 0.5vh;
    padding-left: 2vh;
    position: relative;
}

.main_cont .s_cont .right_cont .rc_desc ul li::after{
    content: "";
    position: absolute;
    top: 0.2vh;left: -1.5vh;
    width: 1vh;height: 1vh;
    border-radius: 50%;
    background-color: #fff;
}

.main_cont .s_cont .right_cont .rc_desc ul li::before{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight:600;
    position: absolute;
    top: 0;left:0.6vh;
    font-size: 1.5vh;
    color: yellow;
}

.main_cont .s_cont .right_cont .rc_buy{
    padding-top: 3vh;
    display: flex;
    align-items: center;
}

.main_cont .s_cont .right_cont .rc_buy>div{
    margin-right: 2vh;
}

.main_cont .s_cont .right_cont .rc_buy .size{
    position: relative;
    width: 7vh;height: 3vh;
    background-color: rgb(255, 255, 28);
    color: #000000;
    font-size: 2vh;
    font-weight: bold;
    padding-left: 1vh;
    box-sizing: border-box;
    line-height: 3vh;
    opacity: 0;
    transform: translateX(-70%);
}

.main_cont .s_cont .right_cont .rc_buy .size::before{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight:600;
    position: absolute;
    font-size: 1.5vh;
    right: 0.5vh;top: 0.2vh;
    color: #000;
}

.main_cont .s_cont .right_cont .rc_buy .cart{
    width: 15vh;height: 5vh;
    border: 0.3vh solid #fff;
    box-sizing: border-box;
    font-size: 2vh;
    text-align: center;
    line-height: 5vh;
    opacity: 0;
    transform: translateY(70%);
}

.main_cont .s_cont .right_cont .rc_buy .money{
    font-size: 3vh;
    font-weight: bold;
    opacity: 0;
    transform: translateX(70%);
}

    /* ** main_cont_right(active) 영역 ** */

.main_cont .s_cont.slick-active .right_cont .rc_title   {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

.main_cont .s_cont.slick-active .right_cont .rc_title .rct_section1 .rc_star .star1 {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 1s;
}

.main_cont .s_cont.slick-active .right_cont .rc_title .rct_section1 .rc_star .star2 {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 1.1s;
}

.main_cont .s_cont.slick-active .right_cont .rc_title .rct_section1 .rc_star .star3 {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 1.2s;
}

.main_cont .s_cont.slick-active .right_cont .rc_title .rct_section1 .rc_star .star4 {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 1.3s;
}

.main_cont .s_cont.slick-active .right_cont .rc_title .rct_section1 .rc_star .star5 {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.8s;
    transition-delay: 1.4s;
}

.main_cont .s_cont.slick-active .right_cont .rc_desc {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

.main_cont .s_cont.slick-active .right_cont .rc_buy .size{
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

.main_cont .s_cont.slick-active .right_cont .rc_buy .cart{
    opacity: 1;
    transform: translateY(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

.main_cont .s_cont.slick-active .right_cont .rc_buy .money{
    opacity: 1;
    transform: translateX(0%);
    transition: 0.8s;
    transition-delay: 0.1s;
}

/* **** slick 영역 **** */

.slick-arrow {
    position: absolute;
    font-size: 0;
    width: 5vh;
    height: 5vh;
    border-radius: 0.5vh;
    z-index: 10;
    cursor: pointer;
}

.slick-arrow.slick-prev {
    left: 0;
    top: calc(50% - 2.5vh);
    background: #000000bd url(../img/arrow.png) no-repeat -0.4vh center;
    background-size: cover;
}

.slick-arrow.slick-next {
    right: 0;
    top: calc(50% - 2.5vh);
    background: #000000bd url(../img/arrow.png) no-repeat -0.4vh center;
    background-size: cover;
    transform: rotate(180deg);
}
