@charset "UTF-8";
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* handel gothic cdn */
@import url('https://fonts.cdnfonts.com/css/handelgothic-tl');
@import url("reset.css");

/* font-family: 'Dancing Script', cursive;
font-family: 'Noto Sans KR', sans-serif;*/
/*  font-family: 'HandelGothic TL', sans-serif; */

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #333; 
}

.en{font-family: 'HandelGothic TL', sans-serif;}
.en_s{font-family: 'Dancing Script', cursive;}


.clearfix::after{
    content: ""; display: block; clear:both;
}

/* inner-넓이에 대한 가이드 */
.inner{width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    }

.inner .box{float: left; width: 50%;}    

/* header */

header{}
.innerheader{
    max-width: 1720px;
    margin: 0 auto;
    height: 110px;
    line-height: 110px;
}
.innerheader .logo{float: left;}
.innerheader .logo a{display: block;}
.innerheader .logo a img{}
.innerheader .mainmenu{float: right; position: relative;}
.innerheader .mainmenu .bar{position: absolute; left: 0; bottom: 40px;
width: 0;  height: 3px; background-color: #e7e7e7; transition: 0.2s;
}
.innerheader .mainmenu .gnb{float: left;}
.innerheader .mainmenu .gnb li{float: left; margin: 0 20px;}
.innerheader .mainmenu .gnb li a{display: block; color: #555;}


.innerheader .sns{float: left; margin-left: 300px;
}
.innerheader .sns li{float: left;margin:0 20px;}
.innerheader .sns li a{display: block;
    padding: 0 10px;
}
.innerheader .sns li a img{}

/* ---------------------------visual--------------------------- */
.visual{
    max-width:1720px;
    margin: 0 auto;
}
.visual .mainImg{float: left;width: 50%;}
.visual .mainImg .img img{width: 90%;}

.visual .mainText{float: left;width: 50%;padding-top: 180px;}
.visual .mainText .tit{font-size: 72px;}
.visual .mainText .tit span{}
.visual .mainText .tit span.gray{color: #ccc;}
.visual .mainText .txt{
    padding: 50px 0 0  70px;
}

/* ---------------------------jurnal--------------------------- */
.jurnal{position: relative;
    padding: 190px 0 120px;}
.jurnal .scroll{position: absolute;
left: 50%;top: 0;transform: translateX(-50%);
font-size: 10px;/* 10px 이하는 적용이 안됨(0은 됨), 그래도 작은 값을 주고 싶다면 em, rem, vw --> % 활용 */
letter-spacing: 5px;
text-transform: uppercase;
padding-top: 90px;
writing-mode: vertical-rl;/* writing-mode: 텍스트가 표시되는 방향 지정, vertical-rl: 수직 방향에서 오른쪽에서 왼쪽으로 텍스트가 배치 */}

.jurnal .scroll::before{content: "";position: absolute;
height: 75px;width: 1px;background-color: #333;
top: 0;left: 4px;}

.jurnal .box img{padding-top: 100px;}
.jurnal .box .tit{margin-bottom: 40px;}
.jurnal .box ul{}
.jurnal .box ul li{display: flex;margin-bottom: 30px;}
.jurnal .box ul li h3{width: 22%;}
.jurnal .box ul li p{width: 78%; color: #888;line-height: 1.4;/* 기본값 1.2~1.3이라서 원래 가진 공간보다 조금 더 공간을 가짐 */}
.jurnal .moreBtn{margin-left: 22%;}

/* ---------------------------타이틀, 텍스트--------------------------- */
.tit.tit.tit{/* 힘이 세지게 .tit 세번 복사해서 삼단계로 만들어줌 */
    font-size: 50px;
    line-height: 1.1;
    font-weight: normal; /* 중간 */
}
.tit span{display: block;}
.tit span b{font-weight: normal;}
/* b는 여기서 단지 싸기 위한 인라인 요소로 사용했고 볼드로 태어나기 때문에 normal 써줌 */

.tit .en_s{
    font-size: 22px;
    font-weight: normal;}
.txt p{
    color: #888; line-height: 1.6;
    margin-bottom: 10px;
}
.txt p b{font-weight: normal;}

.moreBtn{
    display: inline-block;
    margin-top: 20px; color: #333;
    transform: skewX(-15deg) translateX(5px);; /* skewX:기울임체 만들기 */
    transition: 0.2s;
    position: relative;
    padding-left: 45px;
  }
  .moreBtn:hover{
    transform: skewX(0deg) translateX(0px);
    font-weight: bold;}
  .moreBtn::before{
    content: ''; width: 42px; height: 1px;
    background-color: #333;
    position: absolute;
    left: 0; top: 53%;
  }
/* ---------------------------텍스트 애니--------------------------- */
.tit.animate__motion span{
    overflow: hidden;
}
.tit.animate__motion span b{
    display: block;
    animation: textAni 1.3s;
}

/* transform은 인라인 적용되지 않기 때문에 블록 요소로 바꿈, 그리고 transform의 중심은 가운데임 */

@keyframes textAni{
    0%{ opacity: 0;}
    30%{ opacity: 1;
    transform: translate(0, 40px) skewY(8deg);
    transform-origin: top left;
}
    100%{
        opacity: 1; 
        transform: none;
    }
}

/* ---------------------------이미지 애니---------------------------*/
.img.animate__motion {
    position: relative;
    animation: imgAni 1s;
}
@keyframes imgAni{
    0%{transform: translateY(50px);}
    100%{transform: translateY(0);}
}

.img.animate__motion::after{
    content: "";
    position: absolute;
    top: 0; /* 기준이 탑 */ left: 0; width: 100%;
    height:0;
    background-color: #fff;
    animation: mask 1.2s;
}

@keyframes mask{
    0%{height: 90%;}
    100%{height: 0;}
}

/* ---------------------------svg ani--------------------------- */
.jurnal{position: relative;}
.jurnal .circleBox{width: 700px; position: absolute;right: 13%;top: 100px;
z-index: -1;/* z-index: -1 -- 항상 적용되는건 아님 */}
.circleBox .svgAni path{
stroke-dasharray: 2024px;
/* main.js, //path의 총길이(px단위)를 알아내기 -- 개발자에서 확인한 높이 값 적어주기 */
stroke-dashoffset: 0px;}

.circleBox.animate__motion .svgAni path{
    animation: dash 1.5s;
}


@keyframes dash {
0%{stroke-dashoffset: 2024px;}
100%{stroke-dashoffset: 0px;}    
}

/* stroke-dashoffset--> 선의 테두리에 대한 특정 효과 지정
//SVG(Scalable Vector Graphics)에서 사용되는 속성
//이 속성은 선의 시작 지점부터 그려지는 지점까지의 거리를 나타냄
//(선의 시작 지점에서 점선이 얼마나 이동할지) 
//양수 값은 선을 따라 이동하고, 음수 값은 선을 따라 이동하지 않음.
//일반적으로 stroke-dashoffset은 stroke-dasharray와 함께 사용됨

//stroke-dasharray--> 선에 대한 점선의 길이
//예를 들어, stroke-dasharray="5, 2"는 
//5 픽셀의 실선과 2 픽셀의 공백으로 이루어진 패턴을 생성


여러 값을 가지는 stroke-dasharray와 stroke-dashoffset를 조합하면 
다양한 선의 효과를 만들 수 있습니다 */



/* 미디어쿼리 */
/* ------- pc(1401~1720) ----- */
@media (max-width:1720px){}
/* ------- 노트북, 태블릿(1025~1400) ----- */
@media (max-width:1400px){}
/* ------- 태블릿(767~1024) ----- */
@media (max-width:1024px){}
/* ------- 모바일(321~766) ----- */
@media (max-width:767px){}
/* ------- 모바일(0~320) ----- */
@media (max-width:320px){}