@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

a{color: #222; text-decoration: none;}
li{list-style: none;}
body{background-color: #eee;}


.wrap{display: flex; flex-wrap: wrap;}

header{/* 당연히 태그 이름이니까 불러올 때 점 찍으면 안됨 */
width: 100%; height: 80px;
background-color: gray;
display: flex; align-items: center;
padding: 0 20px;
}

header form{margin-left: auto;}

header form .search{ border-radius: 5px;
border: none; outline:none;height: 30px;}

header form input[type="submit"]{ border-radius: 5px;
    border: none; outline:none;
    width: 60px; height: 30px; background-color: gold;
}
.menu{
    width: 100%;
    display: flex;
}
.menu li{width: 25%;/* 75%를 줘도 똑같음(25%보다 계속 넘친 상태에서 나눠가지기 때문이라고 하는데?ㅋㅋ */ background-color: gold; 
text-align: center; transition: 0.3s;
}
.menu li:hover{
    width: 35%;
    background-color: goldenrod;
}
.menu li a{display: block;
padding: 15px 0; font-weight: bold; 
font-size: 20px;
}

.primary{padding-top: 20px;}
.primary .card-list{display: flex; flex-wrap: wrap;}
.primary .card-list .card-item{width: 33.3333%;}
.primary .card-list .card-item .card-image{
    background: url(https://i.namu.wiki/i/XhE0QXsWqCRUapeypiJXhz_CcYeZyxUkfJj19CH_hdMscshd5l5o-BJdu8HIyz7YKFV6lyGGaTExX3BpIleNGQ.webp) center top;
    background-size:cover;
    padding-bottom: 80%;
    
}
.primary .card-list .card-item .card-desc{}