@charset "UTF-8";

*{margin: 0;padding: 0;box-sizing: border-box;}

.container{border: 2px solid #000;background-color: green;
display: flex;/* 부모에게 줌 */
flex-direction: row;/* 기본값, 옆으로 정렬 */
flex-direction: column;/* 수직 */
flex-direction: row-reverse;
flex-direction: column-reverse;

flex-direction: row;
/* 똑같은 명령이 있다면 아래쪽에 있는 명령이 위쪽의 명령을 덮어씀 */

/* 줄넘김 처리 */
flex-wrap: wrap;/* 이 값을 주면 넓이 40%로 설정했을 때 막내가 떨어짐 */


}

/* 
기본값

block 요소인 item이 flex 되면 자식의 공간만 차지한다. 
넓이 값을 줬을 때 100%가 넘더라도, 또는 부모의 공간보다 넘더라도 아래로 내려가지 않음 
*/

.container .item{border: 2px solid #000; background-color: yellow; width: 40%;}